h1 {
  font-style: bold;
  color: white;
}

h2 {
  font-size: larger;
  color: black;
}
p {
  font-family: "Arial", sans-serif;
  font-size: medium;
  color: white;
}

section {
  padding: 20%;
  margin: 20px;
}
