.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__about {
    padding: 10px;
    /* margin: 20px; */
    background-color: #999898;
    border-radius: 2px;
    font-size: 80%;
  }
}

.profile__button {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(58, 58, 58);
  border: none;
}
