* {
  box-sizing: border-box;
}

.card {
  padding: 20px;
  margin-bottom: 10px;
  background-color: rgb(255, 154, 115);
  box-shadow: 5px 5px rgba(111, 128, 144, 0.2);
}

.card__question {
  font-family: "Trebuchet MS", sans-serif;
  align-items: center;
}

.card__create {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}

.card__button {
  display: block;
  margin: 0 auto;
  font-size: medium;
  padding: 10px;
  margin-top: 10px;
  background-color: linen;
  box-shadow: 5px 5px rgba(111, 128, 144, 0.2);
  border: none;
}

.card__tags {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 50px;
  /* align-items: flex-end; */
  gap: 5%;
}

.card__tag {
  /* list-style: none;
  align-items: center; */
  border-radius: 5px;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 50%;
  font-family: "Lucida Sans", sans-serif;
  background-color: rgb(255, 255, 255);
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px;
  grid-gap: 5px;
  align-items: center;
  font-family: "Trebuchet MS", sans-serif;
  background-color: rgb(255, 154, 115);
  border-radius: 5px;
  max-height: 80px;
}

.profile__about {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  /* margin: 20px; */
  background-color: #999898;
  border-radius: 2px;
  font-size: 80%;
}

img {
  max-width: 50px;
  max-height: 50px;
}

.profile__button {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  font-size: medium;
  color: white;
  background-color: rgb(58, 58, 58);
  border: none;
}

.profile__skills {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  font-family: "Trebuchet MS", sans-serif;
  background-color: linen;
  border-radius: 5px;
  max-height: 80px;
}

textarea {
  display: block;
  align-items: center;
  width: 23em;
  height: 10em;
}

@import "./utility";
@import "./base";
@import "./card";
@import "./profile";
@import "./p";
@import "./footer";
@import "./header";
