* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  background-attachment: fixed;
  background-image: repeating-linear-gradient(
    60deg,
    white,
    white 8px,
    rgb(216, 216, 216, 0.2) 9px,
    rgb(216, 216, 216, 0.2) 12px
  );
}

header {
  display: flex;
  background-color: rgb(100, 136, 255);
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  font-family: "Trebuchet MS", sans-serif;
  /* padding: 10px; */
}
h1 {
  font-style: bold;
  color: white;
}

h2 {
  font-size: larger;
  color: black;
}
p {
  font-family: "Arial", sans-serif;
  font-size: medium;
  color: white;
}

section {
  padding: 20%;
  margin: 20px;
}

.card {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgb(255, 154, 115);
  box-shadow: 5px 5px rgb(111, 128, 144, 0.1);
}

/* .card__bookmark--select {
  padding: 10px;
  margin-top: -20px;
  margin-bottom: -40px;
} */

.card__question {
  font-family: "Trebuchet MS", sans-serif;
  align-items: center;
}

.card__button {
  display: block;
  margin: 0 auto;
  font-size: medium;
  padding: 10px;
  margin-top: 10px;
  background-color: linen;
  box-shadow: 5px 5px rgb(111, 128, 144, 0.2);
  border: none;
}

.card__tags {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* align-items: flex-end; */
  gap: 5%;
}

.card__tag {
  list-style: none;
  text-align: center;
  border-radius: 5px;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 50%;
  font-family: "Lucida Sans", sans-serif;
  background-color: rgb(255, 255, 255);
}

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

&.open {
  display: block;
}

.modal-content {
  max-width: 400px;
  min-height: 200px;
  margin: 50px auto;
  background: white;
  border-radius: 20px;
  padding: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile__about {
  padding: 10px;
  /* margin: 20px; */
  background-color: #999898;
  border-radius: 2px;
  font-size: 80%;
}

.profile__button {
  display: flex;
  padding: 10px;
  align-items: center;
  color: white;
  background-color: rgb(58, 58, 58);
  border: none;
}

textarea {
  width: 100%;
  height: auto;
}

footer {
  position: fixed;
  max-height: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(100, 136, 255);
  color: rgb(255, 255, 255, 0.25);
  z-index: 100;
}

.footer__nav {
  /* align-items: flex-end; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  margin: 5px;
  text-decoration: none;
}

.footer__nav--img {
  max-width: 50px;
  max-height: 50px;
}
